</div></main>
<footer class="mt-auto py-3 bg-body-tertiary">
    <div class="container">
        <span class="text-muted">developed by <strong>João Victor Costa Araujo</strong></span>
    </div>
</footer>
<%- include('end') %>